:root {
	--color-page:       #e0e0e0;
	--color-text:       black;
	--color-link:       blue;
	--color-link-seen:  darkblue;
	--color-line:       black;
	--color-hl-border:  #808080;
	--color-hl-back:    #f0f0f0;

	--color-hl-red:     darkred;
	--color-hl-green:   darkgreen;
	--color-hl-blue:    darkblue;

	--color-img-border: #808080;
	--color-img-back:   #ffffff;
	--img-padding:      3px;

	--color-table-back:        white;
	--color-table-text:        black;
	--color-table-text-dimmed: #808080;
	--color-table-border:      #c0c0c0;
	--color-table-separator:   black;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
	--color-page:       #303030;
	--color-text:       #e0e0e0;
	--color-link:       #90d0e0;
	--color-link-seen:  #90d0ff;
	--color-line:       #808080;
	--color-hl-border:  #808080;
	--color-hl-back:    #202020;

	--color-hl-red:     #ff8080;
	--color-hl-green:   #80ff80;
	--color-hl-blue:    #8080ff;

	--color-img-border: #e0e0e0;
	--color-img-back:   black;
	--img-padding:      5px;

	--color-table-back:        black;
	--color-table-text:        #e0e0e0;
	--color-table-text-dimmed: #808080;
	--color-table-border:      #404040;
	--color-table-separator:   #e0e0e0;
    }
}

body {
	background: var(--color-page);
	color: var(--color-text);
}

h1 {
	border-bottom: 1px solid var(--color-line);
}

h3 {
	clear: both;
}

br {
	clear: both;
}

p {
	max-width: 90ex;
}

a {
	color: var(--color-link);
	text-decoration: underline;
}
a:visited {
	color: var(--color-link-seen);
}

ul.linklist {
	margin: 0;
	padding: 0;
	max-width: 90ex;
	list-style-type: none;
}
ul.linklist li {
	margin: 0;
	padding: 0;
}
ul.linklist li a {
	border: 1px solid transparent;
	display: block;
	padding: .5em 1ex;
	transition: 200ms;
}
ul.linklist li a:hover {
	border: 1px solid var(--color-hl-border);
	background: var(--color-hl-back);
}

div.box {
	float: left;
	border-left: 3px solid var(--color-line);
	margin: 0 10ex 0 0;
	padding: 0 2ex;
}
